.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

$color-blue: #2e366c;
$color-green: #114b11;
$color-purple: #75286b;
$color-pastel-blue: #b2cefe;
$color-pastel-green: #bbed91;
$color-pink: #f0d0f0;

$color-text-dark: #000000;
$color-text-light: #ffffff;

.container {
  min-width: 640px;
  min-height: 400px;
  background-color: $color-blue;
  color: $color-text-light;
  display: flex;
  text-align: center;
  margin: auto;
  padding: 1rem;
  font-family: Calibri, serif;
  font-size: 1.2rem;
}

.left {
  float: left;
  width: 15%;
  height: inherit;
}

.right {
  float: right;
  width: 15%;
  height: inherit;
}

.center {
  width: 70%;
  height: inherit;
  margin: auto;
}

table {
  display: table;
  max-width: 0;
  max-height: 0;
  border-spacing: 5px 1px;
}

tr {
  display: inline;
  margin-left: 0;
  margin-right: 100%;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
}
