<div class="container no-select" >
  <div class="left center">
    <h3>Instellingen</h3>
    <p>Achtergrondkleur</p>
    <div class="inline">
      <input name="background" type="radio" class="colorbox blue" value="#2e366c" [name]="bingoUser.backgroundColor"/>
      <input name="background" type="radio" class="colorbox green" value="#114b11" [name]="bingoUser.backgroundColor"/>
      <input name="background" type="radio" class="colorbox purple" value="#75286b" [name]="bingoUser.backgroundColor"/>
      <input name="background" type="radio" class="colorbox pastel-blue" value="#b2cefe" [name]="bingoUser.backgroundColor"/>
      <input name="background" type="radio" class="colorbox pastel-green" value="#bbed91" [name]="bingoUser.backgroundColor"/>
      <input name="background" type="radio" class="colorbox pink" value="#f0d0f0" [name]="bingoUser.backgroundColor"/>
    </div>
    <p>Trekkingsnummers</p>
    min: <input class="input-number rounded" type="number" value="0" max="90"/> max: <input class="input-number rounded" type="number" value="75" max="100"/>
    <p>Kaarttype</p>
    <div class="radio-options">
      <input id="option1" name="card-type" type="radio" class="no-circle" checked />
      <label for="option1" class="radio-left">Standaard</label>
      <input id="option2" name="card-type" type="radio" class="no-circle" />
      <label for="option2">Willekeurig</label>
      <input id="option3" name="card-type" type="radio" class="no-circle" />
      <label for="option3" class="radio-right">Speciaal</label>
    </div>
    <p>Gebruikersnaam</p>
    <input class="input-username rounded" type="text" [value]="bingoUser.username" />
  </div>
  <div class="right">
    <div>
        <fa-icon routerLink="" [icon]="faHome" size="2x"></fa-icon>
    </div>
    <div class="big-button" (click)="saveAndReturn()" >
      <fa-icon [icon]="faReturn" size="2x" flip="horizontal"></fa-icon> OPSLAAN EN TERUG
    </div>
  </div>
</div>
