th.block {
  width: 4rem;
  height: 2rem;
  font-size: 2rem;
  font-family: Impact, serif;
}

td.block {
  width: 3rem;
  height: 3rem;
  background-color: white;
}

button {
  border: none;
  background-color: transparent;
  width: inherit;
  height: inherit;
  margin: 3px;
}

button.stamp {
  border-radius: 2rem;
  background-color: #FE8585;
  opacity: 50%;
  margin: 3px;
}

.toggle {
  display: table;
  margin: auto;
  max-width: 16rem;
}

.align-left {
  display: table-cell;
  float: left;
  margin: 0.5rem;
}

.align-right {
  display: table-cell;
  float: right;
  line-height: 1rem;
  min-width: 12rem;
}

.big-button {
  background-color: green;
  color: white;
  text-align: center;
  line-height: 2rem;
  margin: 5rem auto auto auto;
  padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  width: 6rem;
  height: 5rem;
  border-radius: 0.5rem;
}

.ball-area {
  margin: auto;
  width: 6rem;
  height: 6rem;
}

.number-area {
  display: inline;
}

.number-area.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
}

.number-area.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.draw-process {
  font-size: 0.5rem;
}

.circle {
  display: inline-block;
  background-color: gold;
  color: black;
  text-align: center;
  border-radius: 1rem;
  min-width: 2rem;
  min-height: 2rem;
  line-height: 2rem;
  margin: 2px;
}
