<div class="container blue no-select">
  <div class="left"></div>
  <div class="center" (click)="participate()">
    <img class="img-border" src="../../assets/images/bingo-card.png" height="300" width="260" alt="Deelnemen"/>
    <p>Deelnemen</p>
  </div>
  <div class="right">
    <!-- Settings button (gear icon) -->
    <div class="top-buttons">
      <div routerLink="setting" class="icon-button" title="Instellingen">
        <fa-icon [icon]="faCog" size="2x"></fa-icon>
      </div>
      <!-- Logout button -->
      <div class="icon-button" (click)="logout()" title="Uitloggen">
        <fa-icon [icon]="faSignOut" size="2x"></fa-icon>
      </div>
    </div>
    <!-- Game leader section -->
    <div class="bingo-mill" routerLink="lead">
      <img src="../../assets/images/bingo-mill.png" height="100" width="100" alt="Spelleider"/>
      <p>Spelleider</p>
    </div>
  </div>
</div>
<app-bingo-window (onWindowClose)="windowClosed($event[0], $event[1])"></app-bingo-window>
