.container-numbers {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: inherit;
}

.number-box {
  background-color: inherit;
  color: inherit;
  border: none;
  width: 2.5rem;
  height: 2rem;
  margin: auto
}

.number-box.drawn {
  background-color: #FE8585;
}

.number-box.just-drawn {
  background-color: #F9FE85;
  color: black;
}

fa-icon {
  margin: 1rem;
}
