<div class="header container">
  <div class="ball" (click)="drawNumber()">
    <div class="ball-circle"></div>
    <div class="ball-center">{{drawnNumber}}</div>
    <div class="ball-glow"></div>
  </div>
  <div class="center">
    <div *ngIf="paused;then pausing else running"></div>
    <ng-template #pausing>
    <div class="draw-process">
      Aantal deelnemers: {{participantsCounter}}
      <fa-icon [icon]="faPlay"><progress></progress></fa-icon>
      Gepauzeerd...
    </div>
    </ng-template>
    <ng-template #running>
      <div class="draw-process">
        Aantal deelnemers: {{participantsCounter}}
        <fa-icon [icon]="faPause"><progress></progress></fa-icon>
        Volgende trekking in {{timerCounter}}
      </div>
    </ng-template>
  </div>
  <div class="right">
    <button routerLink="">
      <fa-icon [icon]="faHome"></fa-icon>
    </button>
  </div>
</div>
<div class="container">
  <div class="container-numbers">
    <table>
      <tbody>
        <tr *ngFor="let row of amountRows()">
          <td *ngFor="let num of fillNumbers(row)">
            <button *ngIf="num === drawnNumber; else justDrawn" class="number-box just-drawn">{{num}}</button>
            <ng-template #justDrawn>
              <button *ngIf="containNumber(num); else notDrawn" class="number-box drawn">{{num}}</button>
            </ng-template>
            <ng-template #notDrawn>
              <button class="number-box">{{num}}</button>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-winners">
    <p>1 rij winnaar:</p>
    <p>{{winner1}}</p>
    <p>2 rijen winnaar:</p>
    <p>{{winner2}}</p>
    <p>3 rijen winnaar:</p>
    <p>{{winner3}}</p>
    <p>volle kaart winnaar:</p>
    <p>{{winnerFull}}</p>
  </div>
</div>
